<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="index.html" />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="http://www.hzmba.net/" httpResponseStatus="Permanent" />
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
